@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Ark Pixel 12px"
  src: url("../lib/ark-pixel/ark-pixel-12px-monospaced-latin.otf.woff2") format("woff2")
  unicode-range: U+0000-024F

@font-face
  font-style: normal
  font-family: "Ark Pixel 12px"
  src: url("../lib/ark-pixel/ark-pixel-12px-monospaced-zh_cn.otf.woff2") format("woff2")
  unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF
